services:
  file_storage:
    image: postgres:latest
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pg_file_storage:/var/lib/postgresql
    ports:
      - "127.0.0.1:5432:5432"

volumes:
  pg_file_storage: