spring:
  jpa:
    show-sql: true
    hibernate:
        ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/file_storage
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver