spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
  datasource:
    url: jdbc:postgresql://localhost:5432/file_storage
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    drop-first: false
    change-log: db/changelog/db.changelog-master.yml
    default-schema: public